@import "tailwindcss";

@theme {
  --color-dark: #0F172A;
  --color-blue: #2563eb;
  --color-mint: #10b981;
  --color-bg: #f8fafc;
  --color-card: #ffffff;
  --color-border: #e2e8f0;
}

@layer base {
  body {
    @apply bg-gray-50;
  }
}
